# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# PyCharm IDEA
.idea/

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pth
*.pt

# Images
*.png
*.jpg
*.jpeg

# Data
*.csv
*.json

# OS
.DS_Store
